.login-page .left-side {
  background-image: url(/public/images/main-background.jpg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100vh;
  text-align: center;
  padding: 50px;

  /* move logo to center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .left-side-overlay {
  background-color: #efc81a;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.login-page .logo {
  z-index: 1;
}

.login-page .right-side {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .right-side h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #efc81a;
}

.login-page .right-side p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #8692a6;
}

.login-page .right-side,
.form-group,
.form-check {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #696f79;
}

.login-page .right-side input[type="email"]::placeholder,
input[type="password"]::placeholder {
  filter: brightness(150%);
}

.login-page .right-side input[type="email"]:hover,
input[type="password"]:hover {
  background: #ffffff;
  border: 1px solid #efc81a;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
}

.login-page .right-side input[type="email"],
input[type="password"] {
  background: #ffffff;
  border: 1px solid #8692a6;
  border-radius: 6px;
}

input[type="checkbox"]:checked {
  background-color: #efc81a;
}

.login-page .right-side .btn {
  background: #efc81a;
  border-color: #efc81a;
  width: 400px;
}

.login-page .right-side .btn:hover {
  background-color: rgba(239, 200, 26, 0.8);
  border-color: rgba(239, 200, 26, 0.8);
}

.login-page .right-side .forgot-password {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-page .right-side .do-not-have-an-account {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #999999;
}

.login-page .right-side .sign-up {
  color: #efc81a;
  text-decoration: none;
}

/* form {
  width: 50%;
  margin: 0 auto;
} */
