#navbar-desktop .navbar-modal .custom-button {
  background-color: #efc81a;
}

#navbar-desktop .navbar-profile-picture {
  display: flex;
  margin-right: -80px;
  padding-left: 30px;
}

#navbar-desktop .navbar-profile-picture img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Navbar logout button */
.navbar #logout-button button {
  background-color: transparent;
  border-color: #2e266f;
  color: #2e266f;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease;
}

/* Navbar logout button hover effect */
.navbar #logout-button button:hover {
  background-color: gray;
  color: #ffffff;
  border-color: gray;
}

@media (max-width: 770px) {
  .navbar #logout-button button {
    display: none;
  }

  #navbar-desktop .navbar-profile-picture img {
    display: none;
  }
}
