.profile {
  background-color: #fff5ec;
}

/*  @HEADER */

/* navbar animation (hide while scrolling down) */
.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

/* navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

/* Navbar links */
.navbar .nav-link {
  /* color: #000000; */
  font-size: 16px;
  font-weight: 600;
  transition: color 0.5s ease;
}

/* Navbar hover effect */
.navbar .nav-item:hover .nav-link {
  color: #efc81a;
}

.navbar {
  transition: all 0.1s ease-in-out;
}

/* navbar, edit color menu */
.navbar .navbar-nav .nav-link {
  color: #2e266f;
}

/* edit FULL header page */
#header {
  height: 100vh;
  display: flex;
  align-items: center;
}
/*  @END OF HEADER */

/* @ PROFILE */
#profile {
  height: auto;
}

#profile .user-photo {
  margin-top: 150px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

#profile .col-12 {
  font-size: 25px;
  font-weight: 500;
}

#profile .col-2 {
  font-size: 20px;
  font-weight: 500;
}

#profile img {
  height: 250px;
  width: 25%;
  border-radius: 5%;
  object-fit: cover;
  margin-left: 20px;
}

.image-container {
  display: inline-block;
}

#profile .col-2:hover {
  color: #efc81a;
  transition: color 0.5s ease;
  cursor: pointer;
}

.col-2.active {
  color: #efc81a;
  text-decoration: underline;
}


.paginations {
  position: relative;
  top: 50px;
}

.pagination .page-link {
  background-color: white;
  border: gray 5px bold;
  color: #2e266f;
}

.pagination .page-link:hover {
  background-color: rgba(239, 200, 26, 0.8);
  border: rgba(239, 200, 26, 0.8);
  color: #2e266f;
}

.pagination .page-link.active {
  background-color: rgba(239, 200, 26, 0.8);
  border: rgba(239, 200, 26, 0.8);
  color: #2e266f;
}

/* @ start footer css */
footer {
  margin-top: 100px;
  background-color: #efc81a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  position: relative;
}

footer h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  margin-bottom: -10px;
  color: #2e266f;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #707070;
}
/* @ end of footer css */
